@import "utils/vars";
@import "custom/all_custom";
@import "pages/all_pages";
@import "blocks/all_blocks";

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  font-family: $main-font;
}

.note-modal-backdrop {
  visibility: hidden;
}

.text-13 {
  font-size: 13px;
}

.text-15 {
  font-size: 15px;
}

.text-17 {
  font-size: 17px;
}

.text-19 {
  font-size: 19px;
}

.text-21 {
  font-size: 21px;
}

.bold {
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.main-wrapper {
  width: 100%;

  .content-wrapper {
    padding-left: 20px;
    margin-left: 300px;
  }
}
