@import "utils/vars";
@import "pages/all_pages";
@import "blocks/all_blocks";
@import "custom/all_custom";

body {
  padding: 0;
  margin: 0;
  font-family: $main-font;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-36 {
  font-size: 36px;
}

.text-28 {
  font-size: 28px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.main-wrapper {
  width: 100%;
  display: flex;

  &__sidebar-wrap {
    position: relative;
    transition: padding-left 0.5s ease;
    -webkit-transition: padding-left 0.5s ease;
    -moz-transition: padding-left 0.5s ease;
    padding-left: 240px;
  }

  &__content-wrapper {
    width: 100%;
    background-color: $content_background;
  }
}

@media screen and (max-width: 770px){
  .main-wrapper__sidebar-wrap {
    padding-left: 105px;
  }
}

@media screen and (max-width: 320px) {
  .main-wrapper__sidebar-wrap {
    padding-left: 12px;
  }
}
