{% macro pages_title(title, about) %}
    <div class="pages-title">
        <div class="title-about-page">
            <span class="title-page text-21">
                {{ title }}
            </span>
            <div class="border"></div>
            <span class="about-page text-15">
                {{ about }}
            </span>
        </div>
    </div>
{% endmacro %}

{% macro page_description(title, description) %}
    <div class="page-description">
        <div class="page-description__title">
            {{ title }}
        </div>
        <div class="page-description__data text-21">
            {{ description }}
        </div>
    </div>
{% endmacro %}
