//fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

$main-font: "Cabin", sans-serif;

//color
$border: #DDDDDD;
$fontcolor: #4D4D4D;
$lightgray: #F9F9F9;
$darkgray: #171717;
