//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

$main-font: 'Open Sans', sans-serif;

//color
$backgroundSideBar: #F3F4F9;
$blueActive: #34ABE0;
$content_background: #FAFAFA;
