.modal {
  position: absolute;
  z-index: 100; /* 1 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-export, .modal-edit-role {
  visibility: hidden;
}

.modal-block {
  visibility: hidden;
}

.modal-add-category {
  visibility: hidden;
}

.modal-edit-category {
  visibility: hidden;
}

.modal-delete-category {
  visibility: hidden;
}

.modal-deactivate-category {
  visibility: hidden;
}

.modal-add-subs {
  visibility: hidden;
}

.modal-edit-subs {
  visibility: hidden;
}

.modal-create-document {
  visibility: hidden;
}

.modal-add-role, .modal-edit-role {
  visibility: hidden;
  height: 100%;

  .modal-wrapper {
    top: 20%;

    .role-name-surname {
      display: grid;
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      grid-gap: 10px;

      .input_custom {
        input {
          width: 183px;
        }
      }
    }

    .select {
      margin-bottom: 10px;

      .new-select {
        width: 458px;

        &__list {
          width: 94.1%;
        }

        &:after {
          opacity: 1;
          transform: rotate(-90deg);
        }

        &.on:after {
          transform: rotate(2deg);
        }
      }
    }

    .input_custom {
      input {
        width: calc(100% - 55px);
      }
    }

    .role-enter-mail {
      position: relative;

      input {
        width: calc(100% - 55px);
      }

      svg {
        position: absolute;
        top: 20%;
        right: 14px;
        transform: rotate(4deg);
      }
    }
  }
}

.modal-announcement, .modal-user-list {
  visibility: hidden;
  height: 100%;

  .modal-wrapper {
    position: relative;
    top: 40px;
    left: calc(50% - 600px);
    max-width: 1160px;
    width: 100%;

    .announcement-tools-editmode, .user-list-tools-editmode {
      display: flex;
    }

    .announcement-tools-title, .user-list-tools-title {
      display: flex;

      span {
        margin-right: 20px;
      }

      .announcement-tools-preview, .user-list-tools-preview {
        .edit {
          margin-right: 15px;
        }

        .deactive {
          margin-right: 15px;
        }

        display: flex;
        align-items: center;
      }
    }

    .modal-images-wrap {
      display: flex;
      height: 680px;
      overflow: hidden;
      margin-bottom: 20px;

      .announcement-main-images, .user-list-main-images {
        width: 1020px;
        height: 680px;
        background: #F9F9F9;
        border-radius: 12px;
        position: relative;

        img {
          object-fit: cover;
          width: 1020px;
          height: 680px;
          border-radius: 12px;
        }

        &::before {
          box-shadow: inset 0 -200px 50px -20px hsla(0, 0%, 0%, .5);
          content: '';
          height: 250px;
          left: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
          border-radius: 0 0 12px 12px;
        }

        .recomended {
          position: absolute;
          top: 20px;
          left: 20px;
          padding: 1px 11px;
          background-color: #171717;
          border-radius: 12px;
          border: 2px solid white;
          letter-spacing: 0.5px;
          color: #EEEEEE;
          font-size: 14px;
          font-weight: bold;
        }

        .description-for-main-announcement, .description-for-main-user-list {
          width: 100%;
          height: 150px;
          position: absolute;
          left: 0;
          bottom: 0;
          padding-left: 20px;

          .announcement-main-text, .user-list-main-text {
            font-size: 48px;
            color: white;
            margin-bottom: 10px;
          }

          .announcement-tag, .user-list-tag {
            margin-bottom: 10px;

            span {
              padding: 6px 10px 6px 10px;
              min-width: 83px;
              border-radius: 12px;
              background: white;
              font-size: 13px;
              font-weight: bold;
              margin-right: 10px;
            }
          }

          .announcement-price, .user-list-price {
            display: flex;
            align-items: center;
            color: white;

            span {
              font-size: 24px;

              &:last-child {
                font-size: 13px;
                margin-left: 2px;
              }
            }
          }
        }

        .ad-status {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 25px;
          right: 20px;

          span {
            color: #EEEEEE;
            font-weight: 600;
            letter-spacing: 0.5px;
            font-size: 14px;
            margin-left: 4px;
          }
        }
      }

      .announcement-all-images, .user-list-all-images {
        position: relative;
        margin-left: 20px;

        div {
          width: 120px;
          height: 120px;
          background: #F9F9F9;
          border-radius: 12px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          color: #888888;
          cursor: pointer;

          img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 12px;
          }
        }

        .photos-all-btn {
          position: absolute;
          bottom: -18px;
          left: 0;
          border: 1px solid #F9F9F9;
        }
      }
    }

    .announcement-description-wrap, .user-list-description-wrap {
      display: flex;
      margin-bottom: 20px;

      .seller-about-wrap {
        width: 800px;

        .seller-about-announcement, .seller-about-user-list {
          width: 760px;
          border: 1px solid #DDDDDD;
          border-radius: 12px;
          display: grid;
          margin-bottom: 20px;

          span {
            font-size: 15px;
            border-bottom: 1px solid #DDDDDD;
            padding: 20px;

            &:first-child {
              color: #4D4D4D;
              padding: 10px 20px 10px 20px;
            }

            &:nth-child(2) {
              color: #FF0844;
            }

            &:nth-child(3) {
              color: #35C759;
            }

            &:last-child {
              border: none;
            }
          }
        }

        .seller-account-description, .seller-account-user-list {
          width: 760px;
          border: 1px solid #DDDDDD;
          border-radius: 12px;
          margin-bottom: 20px;

          .about-wrap {
            padding: 10px 20px 10px 20px;
            border-bottom: 1px solid #DDDDDD;

            span {
              color: #4D4D4D;
              font-size: 15px;
            }
          }

          .seller-about {
            display: flex;
            padding: 20px;

            span {
              color: #171717;
              font-weight: bold;
              padding: 0;
              border: none;
            }

            .seller-rating {
              display: flex;
              align-items: center;

              span {
                padding: 0;
                border: none;
                color: #4D4D4D;
                font-size: 13px;
                margin-left: 5px;
              }
            }
          }

          .reviews {
            display: flex;
            align-items: center;
            margin-right: 8px;
            cursor: pointer;

            span {
              padding: 0;
              color: #888888;
              font-weight: 500;
            }
          }

          .seller-logo {
            width: 36px;
            height: 36px;
            background: #F9F9F9;
            border-radius: 50%;
            margin-right: 5px;

            img {
              object-fit: cover;
              border-radius: 50%;
              width: 36px;
              height: 36px;
            }
          }
        }

        .announcement-location, .user-list-location {
          width: 760px;
          border: 1px solid #DDDDDD;
          border-radius: 12px;
          display: grid;

          .location-description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0 20px 20px
          }

          svg {
            margin-right: 16px;
          }

          span {
            padding: 0;
            border-bottom: 1px solid #DDDDDD;

            &:first-child {
              color: #4D4D4D;
              padding: 10px 20px 10px 20px;
              border-bottom: 1px solid #DDDDDD;
            }
          }

          a {
            color: #171717;
          }

          .reviews {
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
              padding: 0;
              color: #888888;
              font-weight: 500;
              border: none;
            }

            svg {
              margin-right: 8px;
            }
          }

          .map-wrap {
            position: absolute;
            width: calc(100% - 40px);
            height: 600px;
            display: none;
            left: 20px;
            border-radius: 12px;
            top: 580px;

            #map {
              width: 100%;
              height: 100%;
              border-radius: 12px;
            }

            .map-close {
              position: absolute;
              padding: 4.5px 4.5px 0 4.5px;
              background: #EEEEEE;
              border-radius: 4px;
              top: 20px;
              left: 20px;

              svg{
                margin: 0;
              }
            }
          }
        }
      }

      .announcement-description, .user-list-description {
        width: 380px;
        border: 1px solid #DDDDDD;
        border-radius: 12px;
        display: grid;
        margin-bottom: 20px;

        .announcement-description-title, .user-list-description-title {
          color: #4D4D4D;
          padding: 10px 20px 10px 20px;
          border-bottom: 1px solid #DDDDDD;
        }

        .announcement-description-link, .user-list-description-link {
          padding: 20px;
          border-bottom: 1px solid #DDDDDD;
          display: flex;
          justify-content: space-between;

          .old-new-seller {
            span {
              color: #35C759;

              &:first-child {
                color: #FF0844;
              }
            }
          }

          &:last-child {
            border: none;
          }

          &:nth-child(2) {
            padding: 20px 10px 20px 10px;
            width: calc(100% - 40px);
            margin-left: 10px;
          }

          &:nth-child(3) {
            padding: 20px 10px 20px 10px;
            width: calc(100% - 40px);
            margin-left: 10px;
          }

          &:nth-child(4) {
            padding: 20px 10px 20px 10px;
            width: calc(100% - 40px);
            margin-left: 10px;
          }

          &:nth-child(5) {
            padding: 20px;
          }
        }
      }

      .announcement-links, .user-list-links {
        width: 380px;
        border: 1px solid #DDDDDD;
        border-radius: 12px;
        display: grid;

        .announcement-links-title, .user-list-links-title {
          color: #4D4D4D;
          padding: 10px 20px 10px 20px;
          border-bottom: 1px solid #DDDDDD;
        }

        .announcement-description-link, .user-list-description-link  {
          display: flex;
          align-items: center;
          padding: 18px 20px 18px 20px;
          border-bottom: 1px solid #DDDDDD;

          svg {
            margin-right: 16px;
          }

          a {
            color: #171717;
            text-decoration: none;
          }

          &:last-child {
            border: none;
          }
        }
      }
    }

    .modal-footer-wrap {
      padding: 20px;
      background: #F9F9F9;
      width: 100%;
      margin-bottom: -20px;
      margin-left: -20px;
      border-radius: 0 0 12px 12px;
      display: flex;

      input {
        width: 923px;
        border: 1px solid #dddddd;
        padding: 13px 14px 12px 14px;
        border-radius: 12px;
        outline: none;
        font-size: 17px;
        margin-right: 20px;

        &::-webkit-input-placeholder {
          color: #888888;
        }
      }

      button {
        width: 72px;
        height: 44px;
        cursor: pointer;

        &:last-child {
          width: 163px;
          height: 44px;
          margin-left: 20px;
        }
      }
    }
  }

  .modal-editmode-wrap {
    display: none;

    .accept-photos {
      display: flex;
      margin-bottom: 70px;

      &__main-photos {
        display: flex;
        background: #F9F9F9;
        position: relative;
        width: 380px;
        height: 244px;
        margin-right: 20px;
        overflow: hidden;
        transition: all .3s ease;
        cursor: pointer;
        border-radius: 12px;

        svg {
          margin-right: 10px;
        }

        span {
          color: #888888;
          font-size: 16px;
        }

        input[type="file"] {
          opacity: 0;
          cursor: pointer;
        }

        .about-image-close-btn {
          z-index: 10;
          padding-top: 10px;
          width: 100%;
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          justify-content: space-between;
          align-items: center;
          visibility: hidden;

          span {
            padding-right: 12px;
            padding-left: 12px;
            background: #171717;
            border-radius: 12px;
            color: white;
            font-weight: 600;
            margin-left: 10px;
          }

          svg {
            padding: 6px;
            background: #171717;
            border-radius: 50%;
          }
        }

        .profile-pic {
          height: 100%;
          width: 100%;
          transition: all .3s ease;
          border: none;
          visibility: hidden;
          z-index: 3;
          position: absolute;
          cursor: pointer;
        }

        .upload-button {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }

      &__all-options {
        .all-photos {
          display: flex;
          margin-bottom: 15px;
          margin-top: 0;
          padding: 0;
          width: 800px;
          overflow-x: scroll;

          li {
            position: relative;
            min-width: 120px;
            max-width: 120px;
            min-height: 120px;
            max-height: 120px;
            background: #F9F9F9;
            border-radius: 12px;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .close-photos-btn {
              position: absolute;
              top: 12px;
              right: 12px;
              padding: 6px;
              background: #171717;
              border-radius: 50%;
              z-index: 10;
              cursor: pointer;
              visibility: hidden;
            }

            input[type="file"] {
              opacity: 0;
              width: 100%;
              height: 100%;
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 0;
            }

            svg {
              position: absolute;
            }

            img {
              width: 120px;
              height: 120px;
              visibility: hidden;
              object-fit: cover;
              border-radius: 12px;
              position: absolute;
              z-index: 5;
            }
          }

          &::-webkit-scrollbar {
            width: 10px;
          }

          &::-webkit-scrollbar-track {
            background-color: white;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $border;
            border: 8px solid white;
            cursor: pointer;
            border-radius: 10px;

            &:hover {
              background-color: $darkgray;
            }
          }
        }

        .about-account-option {
          background: #171717;
          padding: 10px;
          width: 392px;
          border-radius: 12px;

          button {
            border: none;
            padding: 6px 10px 6px 10px;
            color: white;
            font-size: 13px;
            background: #4D4D4D;
            border-radius: 6px;
            margin-top: 10px;
          }

          .description-with-checkbox {
            display: flex;
            position: relative;
            justify-content: space-between;

            span {
              color: white;
              font-size: 16px;

              &:last-child {
                font-size: 13px;
                color: #888888;
              }
            }

            .wrapper {

              input[type="checkbox"] {
                background: white;

                &:after {
                  background: #171717;
                }
              }
            }
          }
        }
      }
    }

    .announcement-edit-option, .user-list-edit-option {
      width: 800px;
      margin: 0 auto;

      .label-for-drop {
        margin-top: 5px;
        margin-bottom: 10px;
      }

      .edit-select {
        display: grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        grid-gap: 20px;

        .select {
          width: 100%;
          margin-top: 10px;
        }
      }

      .edit-description-wrap {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #DDDDDD;

        textarea {
          font-family: $main_font;
          padding: 13px 14px 13px 14px;
          border-radius: 12px;
          border: 1px solid #DDDDDD;
          resize: none;
          outline: none;
          height: 160px;
          font-size: 17px;

          &::-webkit-input-placeholder {
            color: #888888;
          }
        }
      }

      .edit-price-wrap {
        display: flex;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #DDDDDD;

        .price-checkbox {
          margin-left: 30px;

          div {
            height: 70%;
            display: flex;
            align-items: center;

            .wrapper {
              label {
                margin-left: 20px;
              }
            }
          }
        }
      }

      .edit-city-wrap {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #DDDDDD;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;

        .select {
          width: 100%;
          margin-top: 10px;
        }

        .input_custom {

          label {
            margin-bottom: 11px;
          }

          .edit-location {
            position: relative;

            input {
              width: calc(100% - 74px);
            }

            svg {
              position: absolute;
              right: 26px;
              top: 20%;
            }
          }
        }

        .map-wrap-editmode {
          position: absolute;
          width: calc(100% - 40px);
          height: 600px;
          display: none;
          left: 20px;
          z-index: 1000;
          border-radius: 12px;
          top: 580px;

          #map2 {
            width: 100%;
            height: 100%;
            border-radius: 12px;
          }

          .map-close-editmode {
            position: absolute;
            padding: 4.5px 4.5px 0 4.5px;
            background: #EEEEEE;
            border-radius: 4px;
            top: 20px;
            left: 20px;

            svg{
              margin: 0;
            }
          }
        }
      }

      .edit-link-wrap {
        display: grid;
        grid-template-columns: 50% calc(50% - 20px);
        grid-gap: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #DDDDDD;

        .links-wrap {
          padding: 0;
          margin: 0;
        }

        .input_custom {

          label {
            margin-bottom: 11px;
          }

          .edit-link {
            position: relative;

            input {
              width: calc(100% - 54px);
            }

            svg {
              position: absolute;
              right: 9px;
              top: 20%;
              cursor: pointer;
            }
          }
        }

        .button-link-wrap {
          display: flex;
          justify-content: center;
          align-items: start;
          padding-top: 27px;

          button {
            width: 219px;
            height: 46px;
          }
        }
      }

      .communication-edit-wrap {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;

        .toggle-phone-active {
          margin-top: 25px;
          border: 1px solid #DDDDDD;
          box-sizing: border-box;
          border-radius: 12px;

          &__number {
            border-bottom: 1px solid #DDDDDD;
            padding-left: 14px;
            height: 56px;
            padding-right: 13px;
            display: flex;
            align-items: center;
            font-weight: bold;
            justify-content: space-between;
          }
        }
      }
    }
  }
}


.modal-create-document {

  .modal-wrapper {
    top: 40px;
    width: 1155px;
    position: absolute;
    padding-bottom: 20px;
    left: calc(50% - 600px);

    .modal-header {

      .document-tools-title {
        display: flex;
        align-items: center;

        button {
          margin-left: 20px;
        }
      }
    }

    .modal-body {

      .modal-content {

        .document-input {
          display: grid;
          grid-template-columns: 400px 400px;
          grid-gap: 10px;

          input[type="text"] {
            width: calc(400px - 54px);
          }
        }

        .note-editor {
          margin-top: 8px;
          margin-bottom: 10px;
        }

        .placeholder {
          color: #888888;
          font-size: 17px;
        }

        .note-editor.note-airframe, .note-editor.note-frame {
          border-radius: 12px;
          border: 1px solid #DDDDDD;
        }

        .note-editor .note-toolbar, .note-popover .popover-content {
          background-color: transparent;
          display: flex;
        }

        .note-editor .note-toolbar > .note-btn-group, .note-popover .popover-content > .note-btn-group {
          button {
            border-radius: 50%;
            display: grid;
            justify-content: center;
            align-items: center;
            border: none;
            width: 40px;
            height: 35px;
            margin-right: 5px;
          }
        }

        .note-btn-group {
          margin-right: 20px;
          display: flex;
        }

        .note-editor.note-airframe .note-statusbar .note-resizebar, .note-editor.note-frame .note-statusbar .note-resizebar {
          display: none;
        }

        .note-editor.note-airframe .note-statusbar, .note-editor.note-frame .note-statusbar {
          display: none;
        }

        .note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
          font-size: 17px;
          font-family: "Cabin", sans-serif;
        }

        .note-current-fontsize {
          font-family: "Cabin", sans-serif;
          font-size: 19px;
        }

        .emoji-menu {
          border-radius: 12px;
        }

        .mobile_scrollable_wrap {
          &::-webkit-scrollbar {
            width: 10px;
          }

          &::-webkit-scrollbar-track {
            background-color: white;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $border;
            border: 3px solid white;
            cursor: pointer;
            border-radius: 10px;

            &:hover {
              background-color: $darkgray;
            }
          }
        }

        .note-icon-bold {
          &:before {
            background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2504 11.8C15.74 11.5018 16.1532 11.0934 16.4571 10.6073C16.7609 10.1212 16.9469 9.57077 17.0004 9C17.0097 8.48388 16.9172 7.971 16.7282 7.49063C16.5392 7.01027 16.2575 6.57184 15.899 6.20039C15.5406 5.82894 15.1124 5.53174 14.6391 5.32578C14.1658 5.11981 13.6565 5.00911 13.1404 5H6.65039V19H13.6504C14.1415 18.9948 14.6269 18.8929 15.0786 18.7001C15.5304 18.5073 15.9397 18.2274 16.2833 17.8764C16.6269 17.5253 16.898 17.1101 17.0811 16.6543C17.2642 16.1985 17.3557 15.7112 17.3504 15.22V15.1C17.3507 14.4071 17.1533 13.7285 16.7813 13.144C16.4093 12.5594 15.8782 12.0931 15.2504 11.8ZM8.65039 7H12.8504C13.2766 6.98681 13.6966 7.10428 14.0541 7.33665C14.4116 7.56902 14.6894 7.90517 14.8504 8.3C15.0133 8.82779 14.9606 9.39859 14.7039 9.88765C14.4472 10.3767 14.0073 10.7443 13.4804 10.91C13.2758 10.97 13.0636 11.0003 12.8504 11H8.65039V7ZM13.2504 17H8.65039V13H13.2504C13.6766 12.9868 14.0966 13.1043 14.4541 13.3367C14.8116 13.569 15.0894 13.9052 15.2504 14.3C15.4133 14.8278 15.3606 15.3986 15.1039 15.8877C14.8472 16.3767 14.4073 16.7443 13.8804 16.91C13.6758 16.97 13.4636 17.0003 13.2504 17Z' fill='black'/%3E%3C/svg%3E");
            content: '';
            width: 24px;
            height: 24px;
          }
        }

        .note-icon-italic {
          &:before {
            content: '';
            width: 24px;
            height: 24px;
            background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7605 9H13.7605L11.5605 19H9.56055L11.7605 9ZM13.4405 5C13.2428 5 13.0494 5.05865 12.885 5.16853C12.7205 5.27841 12.5924 5.43459 12.5167 5.61732C12.441 5.80004 12.4212 6.00111 12.4598 6.19509C12.4983 6.38907 12.5936 6.56725 12.7334 6.70711C12.8733 6.84696 13.0515 6.9422 13.2455 6.98079C13.4394 7.01937 13.6405 6.99957 13.8232 6.92388C14.006 6.84819 14.1621 6.72002 14.272 6.55557C14.3819 6.39112 14.4405 6.19778 14.4405 6C14.4405 5.73478 14.3352 5.48043 14.1477 5.29289C13.9601 5.10536 13.7058 5 13.4405 5Z' fill='black'/%3E%3C/svg%3E%0A");
          }
        }

        .note-icon-underline {
          &:before {
            content: '';
            width: 24px;
            height: 24px;
            background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 20V22H5V20H19ZM16 13.215C15.9671 13.875 15.7711 14.5165 15.4297 15.0823C15.0883 15.6481 14.6121 16.1205 14.0435 16.4572C13.475 16.794 12.8318 16.9847 12.1716 17.0122C11.5114 17.0397 10.8546 16.9033 10.26 16.615C9.57464 16.3185 8.99341 15.8241 8.59077 15.1952C8.18813 14.5663 7.98242 13.8315 8 13.085V5.005H6V13.215C6.03383 14.1564 6.28885 15.0766 6.74442 15.9012C7.19998 16.7257 7.84329 17.4314 8.62227 17.9611C9.40125 18.4908 10.294 18.8296 11.2283 18.9502C12.1625 19.0707 13.1121 18.9696 14 18.655C15.1811 18.2613 16.2059 17.5012 16.9252 16.485C17.6446 15.4689 18.0211 14.2498 18 13.005V5.005H16V13.215ZM16 5H18H16ZM8 5H6H8Z' fill='black'/%3E%3C/svg%3E ");
          }
        }

        .note-icon-picture {
          &:before {
            content: '';
            width: 24px;
            height: 24px;
            background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2 11L18 16H6L9 12.1L11.1 14.8L14 11H14.2ZM8.5 11C9.3 11 10 10.3 10 9.5C10 8.7 9.3 8 8.5 8C7.7 8 7 8.7 7 9.5C7 10.3 7.7 11 8.5 11ZM22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4H20C21.1 4 22 4.9 22 6ZM20 8.8V6H4V18H20V8.8Z' fill='black'/%3E%3C/svg%3E%0A");
          }
        }

        .note-icon-link:before {
          content: "";
          width: 24px;
          height: 24px;
          background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 17H7C5.67392 17 4.40215 16.4732 3.46447 15.5355C2.52678 14.5979 2 13.3261 2 12C2 10.6739 2.52678 9.40215 3.46447 8.46447C4.40215 7.52678 5.67392 7 7 7H11V9H7C6.20435 9 5.44129 9.31607 4.87868 9.87868C4.31607 10.4413 4 11.2044 4 12C4 12.7956 4.31607 13.5587 4.87868 14.1213C5.44129 14.6839 6.20435 15 7 15H11V17ZM17 7H13V9H17C17.7956 9 18.5587 9.31607 19.1213 9.87868C19.6839 10.4413 20 11.2044 20 12C20 12.7956 19.6839 13.5587 19.1213 14.1213C18.5587 14.6839 17.7956 15 17 15H13V17H17C18.3261 17 19.5979 16.4732 20.5355 15.5355C21.4732 14.5979 22 13.3261 22 12C22 10.6739 21.4732 9.40215 20.5355 8.46447C19.5979 7.52678 18.3261 7 17 7ZM16 11H8V13H16V11Z' fill='black'/%3E%3C/svg%3E%0A");
        }

        .note-btn.dropdown-toggle {
          position: relative;

          i:before {
            content: '';
            width: 24px;
            height: 24px;
            background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 18H9V16H3V18ZM3 11V13H15V11H3ZM3 6V8H21V6H3Z' fill='black'/%3E%3C/svg%3E");
          }

          span:before {
            position: absolute;
            top: 25%;
            left: 70%;
          }
        }

        .note-icon-align-left:before {
          content: '';
          width: 24px;
          height: 24px;
          background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 18H9V16H3V18ZM3 11V13H15V11H3ZM3 6V8H21V6H3Z' fill='black'/%3E%3C/svg%3E");
        }

        .note-icon-align-center:before {
          content: '';
          width: 24px;
          height: 24px;
          background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18H15V16H9V18ZM6 11V13H18V11H6ZM3 6V8H21V6H3Z' fill='black'/%3E%3C/svg%3E");
        }

        .note-icon-align-right:before {
          content: '';
          width: 24px;
          height: 24px;
          background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 18H9V16H3V18ZM3 11V13H15V11H3ZM3 6V8H21V6H3Z' fill='black'/%3E%3C/svg%3E");
          transform: rotate(-180deg);
        }

        .note-icon-orderedlist:before {
          content: "";
          width: 24px;
          height: 24px;
          background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 16H4.5V16.5H3.5V17.5H4.5V18H2.5V19H5.5V15H2.5V16ZM3.5 9H4.5V5H2.5V6H3.5V9ZM2.5 11H4.3L2.5 13.1V14H5.5V13H3.7L5.5 10.9V10H2.5V11ZM7.5 6V8H21.5V6H7.5ZM7.5 18H21.5V16H7.5V18ZM7.5 13H21.5V11H7.5V13Z' fill='black'/%3E%3C/svg%3E%0A");
        }

        .emoji-picker {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.991 3.00001C10.2114 3.00179 8.47218 3.53114 6.99333 4.52116C5.51447 5.51117 4.36232 6.9174 3.68251 8.56209C3.0027 10.2068 2.82575 12.0161 3.17404 13.7613C3.52232 15.5066 4.38019 17.1094 5.63922 18.3671C6.89825 19.6249 8.50192 20.4812 10.2475 20.8277C11.9931 21.1743 13.8022 20.9955 15.4462 20.3141C17.0902 19.6326 18.4953 18.4791 19.4839 16.9992C20.4724 15.5194 21 13.7797 21 12C21.0006 10.8172 20.7679 9.64587 20.3152 8.55309C19.8626 7.46031 19.1989 6.46752 18.3621 5.63156C17.5253 4.7956 16.5318 4.13288 15.4386 3.68132C14.3454 3.22976 13.1738 2.99824 11.991 3.00001ZM12 19C10.6155 19 9.26216 18.5895 8.11101 17.8203C6.95987 17.0511 6.06266 15.9579 5.53285 14.6788C5.00303 13.3997 4.86441 11.9922 5.13451 10.6344C5.4046 9.27651 6.07129 8.02923 7.05026 7.05026C8.02922 6.07129 9.2765 5.40461 10.6344 5.13451C11.9922 4.86442 13.3997 5.00304 14.6788 5.53285C15.9579 6.06267 17.0511 6.95987 17.8203 8.11102C18.5895 9.26216 19 10.6155 19 12C19.0003 12.9193 18.8194 13.8297 18.4677 14.6791C18.116 15.5285 17.6004 16.3003 16.9503 16.9503C16.3003 17.6004 15.5285 18.116 14.6791 18.4677C13.8297 18.8194 12.9193 19.0003 12 19ZM15.105 13.8H16.608C16.2464 14.728 15.6131 15.5252 14.7909 16.0873C13.9687 16.6493 12.996 16.95 12 16.95C11.0041 16.95 10.0313 16.6493 9.20912 16.0873C8.38692 15.5252 7.75358 14.728 7.392 13.8H8.895C9.20819 14.3469 9.66027 14.8014 10.2055 15.1175C10.7507 15.4335 11.3698 15.6 12 15.6C12.6302 15.6 13.2493 15.4335 13.7945 15.1175C14.3397 14.8014 14.7918 14.3469 15.105 13.8ZM7.5 9.75001C7.5 9.48301 7.57918 9.222 7.72752 8.99999C7.87586 8.77798 8.0867 8.60495 8.33338 8.50277C8.58006 8.40059 8.8515 8.37386 9.11338 8.42595C9.37525 8.47804 9.6158 8.60661 9.8046 8.79542C9.9934 8.98422 10.122 9.22476 10.1741 9.48664C10.2262 9.74851 10.1994 10.02 10.0972 10.2666C9.99506 10.5133 9.82203 10.7242 9.60002 10.8725C9.37802 11.0208 9.11701 11.1 8.85 11.1C8.49196 11.1 8.14858 10.9578 7.89541 10.7046C7.64224 10.4514 7.5 10.1081 7.5 9.75001ZM13.8 9.75001C13.8 9.48301 13.8792 9.222 14.0275 8.99999C14.1759 8.77798 14.3867 8.60495 14.6334 8.50277C14.8801 8.40059 15.1515 8.37386 15.4134 8.42595C15.6753 8.47804 15.9158 8.60661 16.1046 8.79542C16.2934 8.98422 16.422 9.22476 16.4741 9.48664C16.5262 9.74851 16.4994 10.02 16.3972 10.2666C16.2951 10.5133 16.122 10.7242 15.9 10.8725C15.678 11.0208 15.417 11.1 15.15 11.1C14.792 11.1 14.4486 10.9578 14.1954 10.7046C13.9422 10.4514 13.8 10.1081 13.8 9.75001Z' fill='black'/%3E%3C/svg%3E");

          &:before {
            content: '';
          }
        }

        .note-modal-content {
          border-radius: 12px;
          border: 1px solid #EEEEEE;
          font-family: "Cabin", sans-serif;
          box-shadow: 0 0 4px #dddddd
        }

        .note-modal-title {
          color: #171717;
        }

        .note-form-label {
          color: #888888;
          font-size: 15px;
          margin-left: 6px;
          font-weight: 500;
        }

        .note-modal-header {
          border: none;
        }

        .note-modal-body {
          input[type="text"] {
            border: 1px solid #dddddd;
            padding: 13px 40px 12px 14px;
            border-radius: 12px;
            outline: none;
            margin-bottom: 10px;
            font-size: 17px;
          }

          input[type="file"] {
            border: none;
          }
        }

        .note-btn-primary {
          background-color: #FF0844;
          padding: 5px 10px;
          border-radius: 6px;
          font-family: "Cabin", sans-serif;
          font-size: 15px;
        }
      }
    }

    .modal-footer {
      background: #F9F9F9;
      display: flex;
      position: absolute;
      bottom: -75px;
      justify-content: flex-end;
      padding: 20px;
      width: calc(100% - 40px);
      left: 0;
      border-radius: 0 0 12px 12px;

      button {
        padding: 13px 16px;
        margin-left: 20px;
      }
    }
  }
}

.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.7);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.2s;
}

.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: fixed;
  z-index: 99;
  top: 30%;
  left: calc(50% - 244px);
  right: calc(50% - 244px);
  width: 488px;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
  border-radius: 14px;
  padding: 22px 20px 20px 20px;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header {
  position: relative;
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-close {
  cursor: pointer;
}

.modal-heading {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-body {

  .modal-content {

    .modal-description {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 59px;
      background-color: $lightgray;
      text-align: center;
      border-radius: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .modal-time-about {
      margin-top: 30px;
      text-align: center;
      margin-bottom: 43px;
      font-weight: bold;
    }

    .time-about2 {
      color: #888888
    }
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modal-error {
      color: red;
      font-weight: bold;
      font-size: 15px;
    }

    .modal-buttons {
      display: flex;

      button {
        margin-left: 10px;
        padding: 13px 16px 13px 16px;
      }
    }
  }

  .modal-loading {
    margin: 0 auto;
    background-color: $lightgray;
    border-radius: 8px;
    width: 211px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      animation: spin 0.5s linear infinite;
    }
  }

  .modal-download {
    display: flex;
    width: 211px;
    height: 44px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    text-decoration: none;

    svg {
      margin-right: 10px;
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg)
  }
}
