.modal {
  position: absolute;
  z-index: 10000; /* 1 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-export {
  visibility: hidden;
}

.modal-block {
  visibility: hidden;
}

.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: fixed;
  z-index: 9999;
  top: 30%;
  left: calc(50% - 244px);
  right: calc(50% - 244px);
  width: 488px;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
  border-radius: 14px;
  padding: 22px 20px 20px 20px;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header {
  position: relative;
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-close {
  cursor: pointer;
}

.modal-heading {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-body {

  .modal-content {
    .modal-description {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 59px;
      background-color: $lightgray;
      text-align: center;
      border-radius: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .modal-time-about {
      margin-top: 30px;
      text-align: center;
      margin-bottom: 43px;
      font-weight: bold;
    }
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modal-error {
      color: red;
      font-weight: bold;
    }

    .modal-buttons {
      display: flex;

      button {
        margin-left: 10px;
        padding: 13px 16px 13px 16px;
      }
    }
  }

  .modal-loading {
    margin: 0 auto;
    background-color: $lightgray;
    border-radius: 8px;
    width: 211px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      animation: spin 0.5s linear infinite;
    }
  }

  .modal-download {
    display: flex;
    width: 211px;
    height: 44px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    text-decoration: none;

    svg{
      margin-right: 10px;
    }
  }
}

@keyframes spin {
  100%{-webkit-transform: rotate(360deg)}
}
