.pagination-wrap {
  padding: 24px 0 24px 0;
  display: flex;
  background: white;

  button {
    cursor: pointer;
    font-weight: bold;
  }

  .prev-btn {
    margin-right: 16px;
    display: flex;

    button {
      margin-right: 10px;
    }
  }

  .pagination-btn {
    display: flex;

    button {
      margin-right: 10px;
      width: 36px;
      height: 36px;

      a{
        text-decoration: none;
        color: $fontcolor;
      }
    }
  }

  .next-btn {
    display: flex;
    margin-left: 16px;

    button {
      margin-right: 10px;
    }

    svg {
      transform: rotate(180deg);
    }
  }
}
