.sidebar {
  position: fixed;
  z-index: 100;
  background-color: $backgroundSideBar;
  height: 100vh;
  width: 240px;
  top: 0;
  left: 0;

  &__logo {
    padding: 40px;
    display: flex;
    align-items: center;
    -webkit-align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  &__toggle-sidebar {
    display: none;
    position: absolute;
    top: 30px;
    width: 70px;
    height: 70px;
    right: -55px;
    border-radius: 100%;
    background-color: $backgroundSideBar;

    .elem__t {
      overflow: hidden;
      position: absolute;
      padding: 40px 20px;
      width: 4px;
      top: 0%;
      right: 45px;
      margin-top: -44px;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);

      .elem__t-top {
        position: absolute;
        left: 100%;
        width: 400%;
        border-radius: 100%;
        top: 50%;
        box-shadow: 0 0 0 50px $backgroundSideBar;
        transform: translate(-50%, 1%);
        -webkit-transform: translate(-50%, 1%);
        -moz-transform: translate(-50%, 1%);
        -webkit-box-shadow: 0 0 0 50px $backgroundSideBar;
        -moz-box-shadow: 0 0 0 50px $backgroundSideBar;

        &:before {
          content: "";
          display: block;
          padding: 100% 0 1000px 0;
        }
      }
    }

    .elem__b {
      overflow: hidden;
      position: absolute;
      padding: 40px 20px;
      width: 4px;
      top: 0%;
      right: 45px;
      margin-top: 34px;
      transform: rotate(-90deg) scale(-1, 1);
      -webkit-transform: rotate(-90deg) scale(-1, 1);
      -moz-transform: rotate(-90deg) scale(-1, 1);

      .elem__b-bottom {
        position: absolute;
        left: 100%;
        width: 400%;
        border-radius: 100%;
        top: 50%;
        box-shadow: 0 0 0 50px $backgroundSideBar;
        transform: translate(-50%, 1%);
        -webkit-transform: translate(-50%, 1%);
        -moz-transform: translate(-50%, 1%);
        -webkit-box-shadow: 0 0 0 50px $backgroundSideBar;
        -moz-box-shadow: 0 0 0 50px $backgroundSideBar;

        &:before {
          content: "";
          display: block;
          padding: 100% 0 1000px 0;
        }
      }
    }

    .toggle_btn {
      display: block;
      position: absolute;
      width: 26px;
      height: 20px;
      top: 38%;
      right: 30%;
      cursor: pointer;
      z-index: 100;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      transition: all 0.2s linear;

      .menu-icon,
      .menu-icon::before,
      .menu-icon::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background: #000;
        border-radius: 1px;
        cursor: pointer;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
      }

      .menu-icon {
        top: 8px;
      }

      .menu-icon::before {
        top: -8px;
      }

      .menu-icon::after {
        bottom: -8px;
      }
    }

    .active_sidebar-btn {
      .menu-icon {
        background: none;
      }

      .menu-icon::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .menu-icon::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  &__link {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: flex;
    color: black;
    cursor: pointer;

    &__description {
      padding-left: 35px;
      display: flex;
      align-items: center;
      border-left: 4px solid $backgroundSideBar;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -webkit-align-items: center;
      -moz-transition: all 0.5s ease;

      svg {
        margin-right: 12px;

        path {
          stroke: #000;
          transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
        }
      }

      &:hover {
        border-color: $blueActive;
        color: $blueActive;

        svg {

          path {
            stroke: $blueActive;
          }
        }
      }
    }

    &__active {
      border-color: $blueActive;
      color: $blueActive;

      svg {

        path {
          stroke: $blueActive;
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {

  .sidebar.active {
    width: 240px;

    .sidebar__logo {
      justify-content: normal;
      padding-left: 40px;

      svg {
        margin-right: 5px;
      }
    }

    .sidebar__link {
      visibility: visible;
      opacity: 1;
      justify-content: normal;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;

      .sidebar__link__description {
        justify-content: normal;
        padding-left: 35px;

        svg {
          margin-right: 12px;
        }
      }
    }

    span {
      display: block;
    }
  }

  .sidebar {
    width: 105px;
    transition: width 0.5s ease;

    &__logo {
      width: 100%;
      padding: 55px 0 40px 0;
      justify-content: center;
      -webkit-justify-content: center;

      svg {
        margin: 0;
        width: 25px;
        height: 25px;
      }

      span {
        display: none;
      }
    }

    &__toggle-sidebar {
      display: block;
    }

    &__link {
      padding-right: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 0px;
      justify-content: center;
      -webkit-justify-content: center;

      &__description {
        width: 100%;
        padding-left: 0;
        justify-content: center;
        -webkit-justify-content: center;

        svg {
          margin-right: 0;
        }

        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .sidebar {
    width: 12px;
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;

    &__link {
      opacity: 0;
      visibility: hidden;
    }
  }
}
