.thead {
  display: grid;
  grid-auto-columns: 100px;
  grid-gap: 5px;
  margin-bottom: 10px;

  .sort-block {
    position: relative;

    .select {
      margin-top: 8px;
    }
  }

  .all-checkbox {
    border-radius: 6px;
    padding-right: 12px;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.tbody {
  border: 1px solid $blackgray;
  border-radius: 6px;
}

.th-line {
  display: grid;
  grid-auto-columns: 100px;
  height: 44px;
  border-bottom: 1px solid $blackgray;
  cursor: pointer;

  &:hover {
    background-color: $lightgray;
  }
}

.th-checkbox {
  border-right: 1px solid #EEEEEE;
  width: 27px;
  padding: 10px;

  label {
    &:before {
      border: 2px solid $border;
      margin-top: 4px;
    }

    &:after {
      top: 9px;
    }
  }

  input[type="checkbox"] {

    &:checked ~ label {

      &:before {
        border: 2px solid $darkgray;
      }
    }
  }
}

.th-line-padding {
  display: flex;
  align-items: center;
  border-right: 1px solid #EEEEEE;
  word-wrap: break-word;
  overflow-x: hidden;
  text-decoration: none;
  color: #171717;

  &:last-child {
    border: none;
  }

  span {
    margin-left: 11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
