.announcement-wrap {

  .tool-wrap {
    margin-right: 10px;

    .deactive {
      margin-right: 20px;
    }

    .unblock {
      margin-right: 20px;
    }

    .export {
      margin-right: 20px;
    }

  }

  .announcement-table-wrap {
    overflow-x: scroll;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background-color: #fff;
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $border;
      border-radius: 10px;
      border: 6px solid #fff;
      cursor: pointer;

      &:hover {
        background-color: $darkgray;
        border: 6px solid #fff
      }
    }

    .announcement-sort {
      grid-template-columns: 46px 152px 252px 162px 202px 122px 152px 222px 122px 122px;
    }

    .announcement-data {
      width: 1600px;

      .announcement {
        grid-template-columns: 46px 157px 257px 167px 207px 128px 157px 227px 126px 126px;

        .paid {
          color: #5CFA54;
        }

        .th-checkbox {
          padding-top: 7px;
        }
      }
    }

  }
}
