.categories-wrap-main {

  .categories-content {

    .categories-tools {

      .categories-add, .categories-deactive, .categories-edit, .export {
        margin-right: 20px;
      }
    }

    .categories-modal-block {

      .modal-add-category, .modal-edit-category {

        .modal-content {
          display: flex;

          .icon {
            margin-right: 12px;
            cursor: pointer;
            position: relative;
            width: 46px;
            height: 46px;
            display: block;

            svg {
              padding: 10px;
              border: 1px solid #DDDDDD;
              border-radius: 12px;
              margin-top: 8px;
              cursor: pointer;
            }

            img{
              width: 46.5px;
              height: 46.5px;
              object-fit: cover;
              border-radius: 12px;
              left: 0;
              top: 25px;
              display: none;
              position: absolute;
              border: 1px solid #DDDDDD;
            }

            input[type="file"]{
              width: 46px;
              height: 46px;
              opacity: 0;
              z-index: 5;
              position: absolute;
              left: 0;
              top: 25px;
            }
          }

          .select {
            margin-bottom: 10px;
            width: 435px;

            .new-select {

              &:after {
                opacity: 1;
                transform: rotate(-90deg);
              }

              &.on:after {
                transform: rotate(2deg);
              }
            }
          }

          .category-name {
            position: relative;

            input {
              width: calc(395px - 20px);
            }

            svg {
              position: absolute;
              top: 20%;
              right: 14px;
              transform: rotate(4deg);
            }
          }
        }
      }

      .modal-delete-category {

        .modal-description {
          background: transparent;
          color: #FF0844;
        }

        .modal-time-about {
          margin-top: 18px;
          margin-bottom: 30px;
          color: #FF0844;
        }

        .select-category {

          .select {
            margin-bottom: 10px;

            .new-select {
              width: 458px;

              &__list {
                width: 94.1%;
              }

              &:after {
                opacity: 1;
                transform: rotate(-90deg);
              }

              &.on:after {
                transform: rotate(2deg);
              }
            }
          }
        }
      }
    }

    .modal-add-subs, .modal-edit-subs {

      .modal-content {

        .input_custom {

          .category-name {
            position: relative;

            svg {
              position: absolute;
              top: 20%;
              right: 11px;
            }
          }
        }
      }
    }
  }

  .categories-wrap {

    .categories-sort {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 46px 282px 132px 172px 182px;
      margin-bottom: 10px;

      .all-checkbox {
        border-radius: 6px;
        padding-right: 12px;
        padding-top: 10px;
        padding-left: 10px;
      }

      .sort-block {
        position: relative;
      }
    }

    .categories-data {

      .categories-active {
        min-width: 835px;
        transition: min-width 0.5s ease;

        .categories-line {
          background: #F9F9F9;
        }
      }

      .categories {
        max-width: 825px;
        margin-bottom: 10px;

        .categories-line {
          display: grid;
          grid-template-columns: 42px 292px 138px 176px 135px 36px;
          height: 44px;
          align-items: center;
          cursor: pointer;
          border: 1px solid $blackgray;
          border-radius: 6px;

          .categories-padding {
            border-right: 1px solid #EEEEEE;
            word-wrap: break-word;
            max-height: 31px;
            height: 100%;
            overflow-x: hidden;
            display: flex;
            align-items: center;

            &:last-child {
              border: none;
            }

            svg {
              margin-left: 12px;
            }

            span {
              margin-left: 10px;
            }

            button {
              width: 100%;
              border: none;
              height: 100%;
              background: transparent;

              svg {
                transition: all 0.5s ease;
                transform: rotate(180deg);
                margin-left: 9px;
                cursor: pointer;
              }

              svg.active-subcategories {
                transform: rotate(0deg);
              }
            }
          }

          .categories-checkbox {
            border-right: 1px solid #EEEEEE;
            width: 27px;
            height: 31px;
            padding-right: 10px;
            padding-left: 10px;

            label {
              &:before {
                border: 2px solid $border;
                margin-top: 4px;
              }

              &:after {
                top: 9px;
              }
            }

            input[type="checkbox"] {

              &:checked ~ label {

                &:before {
                  border: 2px solid $darkgray;
                }
              }
            }
          }

          &:hover {
            background-color: $lightgray;
          }
        }

        .subcategories-drop {
          border-radius: 0 0 6px 6px;
          border: 1px solid $blackgray;
          margin-left: 46px;
          display: none;
          padding-right: 46px;

          .subcategories-main-wrap {
            padding: 20px;

            .subcategories-tag {
              flex-wrap: wrap;
              max-width: 100%;
              display: flex;
              margin-top: 10px;

              .tag {
                display: flex;
                padding: 6px 16px;
                border-radius: 10px;
                background: #EEEEEE;
                margin-right: 5px;
                margin-bottom: 10px;
                cursor: pointer;

                span {
                  color: #888888;
                  margin-right: 10px;

                  &:first-child {
                    font-weight: bold;
                    color: #171717;
                  }

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }

              .tag.active-tag {
                background: #DDDDDD;
                border: 2px solid #EEEEEE;
                box-sizing: border-box;
                padding: 4px 14px;
              }
            }
          }

          .subcategories-tools {
            padding: 10px 10px 10px 20px;
            background: #F9F9F9;
            display: flex;

            div {
              display: flex;
            }
          }
        }
      }
    }
  }
}
