.document-editor {
  border-radius: 12px;
  max-height: 700px;
  display: flex;
  flex-flow: column nowrap;

  &__toolbar {
    z-index: 1;
    border-bottom: 1px solid #DDDDDD;

    .ck-toolbar {
      border: 0;
      border-radius: 0;
      background-color: red;

      .tool-wrap .tool-bar {
        background: red;
        padding: 10px 5px 10px 10px;
        border-radius: 16px;
        color: #171717;
        margin-right: 20px;

        :root {
          --ck-border-radius: 0 0 12px 12px;
        }
      }
    }
  }

}

.main-wrap {

  .pages-title {

    .title-about-page {

      span:last-child {
        padding-left: 0;
      }
    }
  }

  .main-wrap-content {

    .data-wrap {

      .documents-sort {
        grid-template-columns: 46px 202px 132px 385px;
      }

      .data-lines {
        max-width: 780px;

        .documents-line {
          width: 100%;
          grid-template-columns: 46px 208px 138px 406px;
          align-items: center;
          margin-bottom: 10px;

          .documents-padding {
            max-height: 31px;
            height: 100%;

            svg {
              margin-left: 12px;
            }

            span {
              margin-left: 10px;
            }

            .documents-links {
              color: #888888;

              span {

                &:first-child {
                  color: #888888;
                }

                &:last-child {
                  margin-left: 0;
                  color: #171717;
                }
              }
            }
          }

          .th-checkbox {
            padding-top: 0;
          }
        }
      }
    }
  }
}
