.document-editor {
  border-radius: 12px;
  max-height: 700px;
  display: flex;
  flex-flow: column nowrap;

  &__toolbar {
    z-index: 1;
    border-bottom: 1px solid #DDDDDD;

    .ck-toolbar {
      border: 0;
      border-radius: 0;
      background-color: red;

      .tool-wrap .tool-bar {
        background: red;
        padding: 10px 5px 10px 10px;
        border-radius: 16px;
        color: #171717;
        margin-right: 20px;

        :root {
          --ck-border-radius: 0 0 12px 12px;
        }
      }
    }
  }

}
.documents-main-wrap {

  .documents-content {

    .documents-wrap {

      .documents-sort {
        display: flex;
        margin-bottom: 10px;

        .all-checkbox {
          margin-right: 5px;
          border-radius: 6px;
          padding-right: 12px;
          padding-top: 10px;
          padding-left: 10px;
        }

        .settings-btn {
          margin-right: 5px;
          border-radius: 6px;
          padding-right: 10px;
          padding-top: 10px;
          padding-left: 10px;
          cursor: pointer;
        }
      }

      .documents-data {
        width: 780px;

        .documents {
          display: grid;
          grid-template-columns: 46px 208px 138px 406px;
          height: 44px;
          align-items: center;
          cursor: pointer;
          border: 1px solid $blackgray;
          border-radius: 6px;
          margin-bottom: 10px;

          .document-checkbox {
            border-right: 1px solid #EEEEEE;
            width: 27px;
            height: 31px;
            padding-right: 10px;
            padding-left: 10px;

            label {
              &:before {
                border: 2px solid $border;
                margin-top: 4px;
              }

              &:after {
                top: 9px;
              }
            }

            input[type="checkbox"] {

              &:checked ~ label {

                &:before {
                  border: 2px solid $darkgray;
                }
              }
            }
          }

          .documents-padding {
            border-right: 1px solid #EEEEEE;
            word-wrap: break-word;
            max-height: 31px;
            height: 100%;
            overflow-x: hidden;
            display: flex;
            align-items: center;

            &:last-child {
              border: none;
            }

            svg {
              margin-left: 12px;
            }

            span {
              margin-left: 10px;
            }

            .documents-links {
              color: #888888;

              span {

                &:first-child{
                  color: #888888;
                }

                &:last-child {
                  margin-left: 0;
                  color: #171717;
                }
              }
            }
          }
        }
      }
    }
  }
}
