.feedback-main-wrap {

  .description-bar {
    width: 538px;

    .page-description {
      background: white;
      min-width: 150px;

      &__title {
        font-size: 13px;
        color: #171717;
        font-weight: 500;
      }

      &__data {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .page-description_data_about {
          display: flex;
          align-items: flex-end;
        }

        .page-description_number_about {
          color: #DDDDDD;
          font-weight: 500;
          margin-left: 4px;
        }

        &__about-notification {

          .button {
            padding: 2.5px 7px;
          }
        }
      }
    }
  }

  .feedback-content {
    display: grid;
    padding-bottom: 20px;
    grid-template-columns: 490px calc(100% - 490px);
    margin-top: 20px;

    .users-chat {
      overflow-y: scroll;
      height: calc(100vh - 200px);

      &::-webkit-scrollbar {
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        background-color: #F9F9F9;;
        border: 6px solid white;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $border;
        border-right: 6px solid white;
        border-left: 6px solid white;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
          background-color: $darkgray;
        }
      }

      .sort-block {
        position: relative;
        margin-bottom: 20px;

        .options-sort-block {
          left: auto;
          right: 30px;

          .arrow-for-sort {
            left: auto;
            right: 20px;
          }
        }
      }

      .chats-link {
        padding: 8px;
        position: relative;
        cursor: pointer;
        margin-bottom: 11px;

        &__title {
          display: grid;

          span {
            font-size: 15px;
            font-weight: bold;
            color: #171717;

            &:last-child {
              font-size: 13px;
              color: #4D4D4D;
              margin-top: 4px;
            }
          }
        }

        &__notification {
          position: absolute;
          right: 8px;
          top: 8px;
          background: #171717;
          color: white;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 13px;
        }

        .logo-with-message {
          margin-top: 8px;
          display: flex;

          &__logo {
            position: relative;
            display: flex;

            img {
              width: 36px;
              height: 36px;
              border-radius: 50%;
            }

            .user-active {
              position: absolute;
              left: 27px;
              top: 27px;
              padding: 1px;
              background: white;
              border-radius: 50%;
              display: flex;
              height: 9px;
              width: 9px;
              align-items: center;
              justify-content: center;

              &__circle {
                background: #5CFA54;
                border-radius: 50%;
                width: 7px;
                height: 7px;
              }
            }
          }

          &__new-message {
            word-wrap: break-word;
            text-overflow: ellipsis;
            font-size: 13px;
            padding-left: 10px;

            .message-time {
              margin-top: 7px;
              color: #888888;
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }

      .chats-link.active {
        background: #F9F9F9;
        border-radius: 12px;
      }

      .chat-line {
        width: calc(100% - 16px);
        height: 1px;
        margin: 11px auto;
        background: #EEEEEE;

        &:last-child {
          display: none;
        }
      }
    }

    .chat {
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 4px;
      width: 730px;
      position: relative;
      height: calc(100vh - 200px);

      .user-title-with-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        border-bottom: 1px solid #EEEEEE;

        .logo-with-message {
          display: flex;

          &__logo {
            position: relative;
            display: flex;

            img {
              width: 36px;
              height: 36px;
              border-radius: 50%;
            }

            .user-active {
              position: absolute;
              left: 27px;
              top: 27px;
              padding: 1px;
              background: white;
              border-radius: 50%;
              display: flex;
              height: 9px;
              width: 9px;
              align-items: center;
              justify-content: center;

              &__circle {
                background: #5CFA54;
                border-radius: 50%;
                width: 7px;
                height: 7px;
              }
            }
          }

          .user-about {
            margin-left: 10px;

            &__nick {
              font-family: $raleview;
              font-size: 12px;
              color: #4D4D4D;
            }
          }
        }

        .user-chat-option {
          position: relative;

          .svg-option-btn {
            width: 50px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            opacity: 0.5;
          }

          .chat-option-block {
            position: absolute;
            z-index: 5;
            display: none;
            background: #FFFFFF;
            border: 1px solid #F9F9F9;
            box-sizing: border-box;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
            border-radius: 12px;
            right: 0;
            padding: 10px;

            button {
              width: 230px;
              padding: 13px;
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              background: transparent;
              border: 1px solid #DDDDDD;
              margin-bottom: 10px;
              font-weight: bold;
              font-size: 15px;
              border-radius: 6px;
              font-family: "Cabin", sans-serif;
              letter-spacing: 0.5px;
              cursor: pointer;

              svg {
                margin-right: 14px;
              }

              &:last-child {
                color: #FF0844;
              }
            }
          }
        }
      }

      .messages-wrap {
        overflow-y: scroll;
        height: calc(100vh - 390px);
        padding: 10px;

        &::-webkit-scrollbar {
          width: 0;
          background: transparent;
        }

        &__other {
          width: calc(100% - 50px);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 5px 50px 5px 0;

          &__message {
            background: #EEEEEE;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 12px;
            margin-bottom: 10px;

            time{
              margin-top: 7px;
              color: #888888;
              font-size: 13px;
              display: flex;
              justify-content: space-between;
            }
          }
        }

        &__you {
          width: calc(100% - 50px);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 5px 0 5px 50px;

          &__message {
            border: 1px solid #EEEEEE;
            padding: 10px;
            background: white;
            box-sizing: border-box;
            border-radius: 12px;
            margin-bottom: 10px;

            time{
              margin-top: 7px;
              color: #888888;
              font-size: 13px;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }

      .send-message-btn {
        width: calc(100% - 40px);
        border-top: 1px solid #EEEEEE;
        padding: 10px 20px;
        position: absolute;
        background: #F9F9F9;
        bottom: 0;

        .input-help-text {
          display: flex;
          color: #4D4D4D;
          margin-bottom: 10px;

          span {
            padding: 6px 8px;
            background: #EEEEEE;
            border-radius: 8px;
            margin-right: 10px;
            cursor: pointer;
          }
        }

        .input-with-send-btn {
          position: relative;

          input {
            padding: 15px 160px 15px 20px;
            width: calc(100% - 180px);
            border-radius: 12px;
            outline: none;
            border: 1px solid #EEEEEE;
            font-size: 15px;
            word-wrap: break-word;

            &::-webkit-input-placeholder {
              color: #888888;
            }
          }

          button {
            position: absolute;
            right: 4px;
            top: 6px;
            padding: 10px 16px;
            border-radius: 8px;

            svg {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
