.login-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  font-family: $main-font;

  &__background-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -10%;

    &__form_block {
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      border: 1px solid $border;
      border-radius: 12px;
      background: white;
      display: flex;
      justify-content: center;

      .back{
        position: absolute;
        top: -37%;
        margin-top: -20px;
        justify-content: flex-start;
        width: 50%;
        display: none;

        button {
          display: flex;
          padding: 9px 16px 9px 16px;
          color: $fontcolor;

          svg {
            margin: 0;
            margin-right: 10px;
          }
        }
      }

      .description {
        position: absolute;
        text-align: center;
        color: $fontcolor;
        top: 100%;
        margin-top: 20px;
        display: none;
      }

      .password, .login{
        display: none;

        .yey-toggle {
          position: relative;

          svg {
            position: absolute;
            top: 40%;
            left: 88%;
            background: white;
            padding: 10px;
            border-radius: 0 12px 12px 0;
            border-right: 1px solid $border;
          }
        }
      }

      .active {
        display: block;
      }

      #password-error{
        color: #ff0000;
        position: absolute;
        margin-top: 22%;
      }

      #email-error {
        color: #ff0000;
        position: absolute;
        margin-top: 9.5%;
      }

      .button_wrap{
        display: flex;
        justify-content: center;
      }
    }

    svg {
      margin-right: 240px;
    }
  }
}
