.main-wrap{

  .main-wrap-content {

    .data-wrap {

      .user-sort {
        display: grid;
        grid-template-columns: 46px 132px 252px 202px 202px 152px 152px 152px 132px 152px;
        margin-bottom: 10px;
        grid-gap: 5px;
      }

      .tbody {
        width: 1620px;

        .user {
          grid-template-columns: 48px 137px 257px 207px 207px 157px 157px 157px 137px 157px;

          .active-social {
            padding: 3px;
            background: $darkgray;
            border-radius: 6px;
            margin-left: 10px;
          }

          .disabled-social {
            padding: 3px;
            background: $border;
            border-radius: 6px;
            margin-left: 10px;
          }

          .nickname {
            background: $lightgray;
          }

          .th-checkbox {
            padding-top: 7px;
          }
        }
      }
    }
  }

}
