.marketplace-wrap {
  font-family: $main-font;

  .marketplace-content {

    .users-wrap {
      width: 100%;
      margin-top: 10px;
      display: block;
      overflow-x: scroll;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        background-color: #fff;
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #fff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $border;
        border-radius: 10px;
        border: 6px solid #fff;
        cursor: pointer;

        &:hover {
          background-color: $darkgray;
          border: 6px solid #fff
        }
      }

      .users-sort {
        display: flex;
        margin-bottom: 10px;

        .sort-block {
          position: relative;

          .select {
            margin-top: 8px;
          }
        }

        .all-checkbox {
          margin-right: 5px;
          border-radius: 6px;
          padding-right: 12px;
          padding-top: 10px;
          padding-left: 10px;
        }
      }

      .users-data {
        border: 1px solid $blackgray;
        width: 1620px;
        direction: ltr;
        border-radius: 6px;

        .user {
          height: 44px;
          border-bottom: 1px solid $blackgray;
          cursor: pointer;
          display: grid;
          grid-template-columns: 48px 137px 257px 207px 207px 157px 157px 157px 137px 157px;

          .active-social {
            padding: 3px;
            background: $darkgray;
            border-radius: 6px;
            margin-left: 10px;
          }

          .disabled-social {
            padding: 3px;
            background: $border;
            border-radius: 6px;
            margin-left: 10px;
          }

          .user-padding {
            padding-top: 12px;
            border-right: 1px solid $lightgray;
            word-wrap: break-word;
            overflow-x: hidden;

            &:last-child {
              border: none;
            }

            span {
              margin-left: 11px;
            }
          }

          .user-checkbox {
            border-right: 1px solid $lightgray;
            width: 27px;
            padding: 10px;

            label {
              &:before {
                border: 2px solid $border;
                margin-top: 4px;
              }

              &:after {
                top: 9px;
              }
            }

            input[type="checkbox"] {

              &:checked ~ label {

                &:before {
                  border: 2px solid $darkgray;
                }
              }
            }
          }

          .nickname {
            background: $lightgray;
          }

          &:hover {
            background-color: $lightgray;
          }
        }
      }
    }
  }

}
