.main-wrap {

  .main-wrap-content {

    .data-wrap {

      .rules-sort {
        grid-template-columns: 46px 152px 252px 202px 142px 122px;
      }

      .data-lines {
        min-width: 940px;

        .rules-line {
          grid-template-columns: 46px 158px 257px 207px 147px 122px;

          .th-checkbox {
            padding-top: 7px;
          }
        }
      }
    }
  }
}
