.rules-main-wrap {

  .rules-content {

    .rules-wrap {

      .rules-sort {
        grid-template-columns: 46px 152px 252px 202px 142px 122px;
      }

      .rules-data {
        width: 940px;

        .rules {
          grid-template-columns: 46px 158px 257px 207px 147px 122px;

          .th-checkbox {
            padding-top: 7px;
          }
        }
      }
    }
  }
}
