.user-wrap {
  font-family: $main-font;
  display: flex;
  max-width: 100%;

  .user-description-main {
    padding-right: 20px;
    width: 544px;

    #remove {
      margin-left: 15px;
    }

    .tool-bar {
      margin-right: 0;
      width: 490px;

      .absolute-for-tool {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: $lightgray;
      }

      .tool-with-close-save-btn {
        display: flex;

        .save-close {
          display: none;
        }

        .visible-save-close {
          display: flex;
        }
      }

      &__links {
        position: relative;
      }
    }

    .user-description-wrap {
      border: 1px solid $border;
      border-radius: 12px;
      margin-bottom: 20px;

      .user-about {
        border-bottom: 1px solid $border;
        display: flex;
        padding: 20px;

        .user-logo {
          width: 92px;
          height: 92px;
          border-radius: 50%;
          background-color: $border;
          margin-right: 28px;
        }

        .user-description {
          .user-name {
            font-weight: bold;
            margin-bottom: 5px;
          }

          .user-rating {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            cursor: pointer;

            span {
              margin-left: 4px;
              color: $darkborder;
              font-weight: bold;
            }

          }
        }

        .active-social {
          padding: 4px;
          background: $darkgray;
          border-radius: 6px;
        }

        .disabled-social {
          padding: 4px;
          background: $border;
          border-radius: 6px;
          margin-left: 10px;
        }

      }

      .user-announcement-about {
        display: flex;
        padding: 20px;

        .page-description {
          width: 124px;
          padding: 10px 12px 10px 12px;

          &__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;

            svg {
              cursor: pointer;
            }
          }
        }
      }
    }

    .system-user-description {
      border: 1px solid $border;
      border-radius: 12px;
      width: 100%;
      margin-bottom: 20px;

      input {
        text-align: right;
        outline: none;
        border: none;
        border-bottom: 1px solid $border;
        padding: 10px 0 10px 10px;
        font-size: 15px;
        font-weight: bold;
        font-family: $main-font;
        width: 300px;
        display: none;
      }

      .user-description-padding {
        width: calc(100% - 40px);
        margin-left: 20px;
        display: flex;
        height: 59px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $border;

        .select {
          width: 300px;
          height: 17px;
          display: none;
          margin-top: 0;
          margin-right: 10px;

          .new-select {
            border: none;
            display: flex;
            color: #171717;
            justify-content: flex-end;
            padding: 0 40px 0 0;
            font-size: 15px;
            font-weight: bold;

            &:first-child {
              background: red;
            }

            &:after {
              top: -3px;
              right: 0;
            }

            &__list {
              top: 30px;
              border-radius: 12px;
            }
          }
        }

        &:nth-child(5) {
          border-bottom: 1px solid $border;
          margin-left: 0;
          padding: 0 20px 0 20px;
          width: calc(100% - 40px);
        }

        &:last-child {
          border: none;
        }
      }
    }

    .user-social-media {

      .user-social-media-padding {
        display: grid;
        align-items: center;
        justify-content: start;

        div {
          display: grid;

          span {
            font-weight: bold;

            &:nth-child(2) {
              color: #888888;
              font-size: 13px;
            }
          }
        }

        &:first-child {
          height: 38px;
          margin-left: 0;
          padding: 0 20px 0 20px;
          color: #888888;
          font-weight: bold;
        }

        &:nth-child(5) {
          border-bottom: 1px solid $border;
          margin-left: 20px;
          padding: 0;
          width: calc(100% - 40px);
        }

      }

    }

  }

  .main-wrap {
    padding-left: 20px;
    overflow: hidden;
    border-left: 1px solid $blackgray;
    position: relative;

    .pagination-wrap {
      padding: 24px 0 4px 0;
    }

    .remove {
      margin-left: 15px;
    }

    .active {
      margin-left: 15px;
    }

    .deactive {
      margin-right: 15px;
    }

    .data-wrap {
      overflow-x: scroll;
      overflow-y: scroll;
      padding: 0;

      .announcement-sort {
        grid-template-columns: 46px 122px 152px 252px 222px 122px 132px;
      }

      .data-lines {
        width: 1075px;

        .user-marketplace {
          grid-template-columns: 46px 128px 157px 257px 227px 127px 135px;

          .moderation {
            color: $border;
          }

          .blocked {
            color: #FF0844;
          }

          .user-marketplace-padding {

            img {
              width: 30px;
              height: 30px;
              margin-left: 11px;
              margin-right: 5px;
            }

            .photos-quantity {
              width: 95px;
              height: 30px;
              background: #EEEEEE;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              color: #888888;
              margin-left: 0;
            }

          }
        }
      }
    }

  }
}
