.button {
  padding-top: 14px;
  padding-bottom: 13px;
  border-radius: 12px;
  margin-top: 19px;
  text-align: center;
  border: none;
  font-family: $main-font;
}

.dark {
  background: $darkgray;
  color: white
}

.light {
  background: $lightgray;
  border: 1px solid $border;
}
