.button {
  border-radius: 12px;
  border: none;
  font-family: $main-font;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#resetbtn {
  margin-right: 10px;
}

.dark {
  background: $darkgray;
  color: white;
}

.light {
  background: $lightgray;
  border: 1px solid $border;
  color: $darkgray;
  font-weight: bold;
}

.green {
  background: $lightgreen;
  color: $darkgray;
}

.gray {
  background: $fontcolor;
  color: $darkgray;
}

.red {
  background: #FF0844;
  color: #FFFFFF;
}
