.input-custom {
  width: 100%;
  position: relative;

  input {
    padding: 12px 8px 12px 44px;
    border-radius: 52px;
    width: calc(100% - 52px);
    border: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
    font-size: 18px;
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
  }

  svg {
    position: absolute;
    top: 25%;
    left: 16px;
  }
}
