.input_custom {
  display: flex;
  flex-direction: column;

  .input-with-clear {
    position: relative;

    svg {
      position: absolute;
      top: 20%;
      right: 10px;
      cursor: pointer;
      display: none;
    }
  }

  input {
    border: 1px solid #dddddd;
    padding: 13px 40px 12px 14px;
    width: calc(100% - 54px);
    border-radius: 12px;
    outline: none;
    margin-bottom: 10px;
    font-size: 17px;

    &::-webkit-input-placeholder {
      color: #888888;
    }
  }

  label {
    color: #888888;
    margin-bottom: 8px;
    margin-left: 6px;
    font-size: 15px;
  }
}
