.tool-user-btn, .tool-seller-btn, .tool-subcategories-btn, .tool-role-btn, .tool-categories-btn {
  font-size: 13px;
  border: 1px solid $border;
  color: $darkgray;
  margin-right: 5px;
  min-width: 80px;
  font-weight: 700;
  cursor: pointer;
  height: 33px;
  padding: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 10% 90%;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  svg{
    margin-left: 10px;
  }

  span{
    margin-right: 15px;
    text-align: right;
  }
}

.tool-btn{
  font-size: 13px;
  border: 1px solid $border;
  color: $darkgray;
  margin-right: 5px;
  font-weight: 700;
  min-width: 80px;
  cursor: pointer;
  height: 33px;
  padding: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 10% 90%;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  svg{
    margin-left: 10px;
  }

  span{
    margin-right: 15px;
    text-align: right;
  }
}

.tool-wrap {
  display: flex;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff
  }

  &::-webkit-scrollbar-thumb {
    background-color: $border;
    border-radius: 10px;
    border: 6px solid #fff;

    &:hover {
      background-color: $darkgray;
      border: 6px solid #fff
    }
  }

  .tool-bar {
    background: $lightgray;
    padding: 10px 5px 10px 10px;
    border-radius: 16px;
    color: $darkgray;
    margin-right: 20px;

    &__title {
      margin-bottom: 6px;
      color: $fontcolor;
      font-weight: 500;
    }

    &__links {
      display: flex;
    }
  }
}
